.container {
  display: flex;
  justify-content: space-between;
  margin-block-start: var(--spacing-xxsmall);
  margin-block-end: var(--spacing-xxsmall);
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: var(--spacing-xxsmall);
  padding-block-end: var(--spacing-xxsmall);
  padding-inline-start: 0;
  padding-inline-end: 0;
  position: relative;
  direction: ltr;
}

.bismillahContainer {
  display: flex;
  justify-content: center;
  margin-block-start: var(--spacing-xxsmall);
  margin-block-end: calc(0.1 * var(--spacing-mega));
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: calc(0.1 * var(--spacing-mega));
}
