@use "src/styles/breakpoints";
@use "src/styles/utility";

.line {
  text-align: center;
  margin-inline: auto;
}

.container {
  direction: rtl;
}

.fixedWidth {
  width: var(--line-width, auto);
}

.mobileInline {
  display: inline;
  @include breakpoints.tablet {
    display: block;
  }
}
