@use 'src/styles/breakpoints';
@use 'src/styles/constants';
@use 'src/styles/utility';

@include utility.generate-line-width-scales(
  'fallback_qpc_uthmani_hafs'
); // fallback font's line-width

.container {
  margin-block-start: constants.$reading-view-container-top-margin;
  margin-block-end: var(--spacing-mega);
  width: 100%;
  box-sizing: border-box;
  position: relative;

  display: flex;
}

.border {
  width: 100%;
  border: 25px solid transparent;
  border-image: url('../../../assets/images/borders/green/full-border.svg') 20 repeat;
}

.blueBorder {
  border-image: url('../../../assets/images/borders/blue/full-border.svg') 20 repeat;
}

.sepiaBorder {
  border-image: url('../../../assets/images/borders/sepia/full-border.svg') 20 repeat;
}

.bottomBorder {
  border-bottom: 51px solid transparent;
  border-image: url('../../../assets/images/borders/green/fatihah-and-baqarah-bottom-image.svg') 60
    repeat;
  width: 100%;
}

.blueBottomBorder {
  border-image: url('../../../assets/images/borders/blue/fatihah-and-baqarah-bottom-image.svg') 60
    repeat;
}

.sepiaBottomBorder {
  border-image: url('../../../assets/images/borders/sepia/fatihah-and-baqarah-bottom-image.svg') 60
    repeat;
}

.mobileCenterText {
  text-align: center;
  direction: rtl;
  @include breakpoints.tablet {
    text-align: start;
  }
}

.firstTwoPagesBorder {
  border: 60px solid transparent;
  border-image: url('../../../assets/images/borders/green/firstTwoPagesBorder.svg') 70 round;
  box-sizing: border-box;
}

.blueFirstTwoPagesBorder {
  border-image: url('../../../assets/images/borders/blue/firstTwoPagesBorder.svg') 70 round;
}

.sepiaFirstTwoPagesBorder {
  border-image: url('../../../assets/images/borders/sepia/firstTwoPagesBorder.svg') 70 round;
}

.pageNumberContainer {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  width: fit-content;
  height: 35px;
}

.pageNumber {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  width: fit-content;
  margin: 0px;

  color: black;
}

.surah {
  position: absolute;
  top: -30px;
  left: 25%;
  transform: translateX(-50%);
  z-index: 1000;

  width: fit-content;
  height: 30px;
  fill: white;
}

.juz {
  position: absolute;
  top: -30px;
  right: 25%;
  transform: translateX(50%);
  z-index: 1000;

  width: fit-content;
  height: 30px;
  fill: white;
}
