@use 'src/styles/constants';
@use 'src/styles/utility';
@use 'src/styles/breakpoints';
@use 'src/styles/theme';

.verseText {
  display: flex;
  align-items: flex-start;
  line-height: var(--line-height);
}

.verseTextWidth {
  @include breakpoints.tablet {
  }
}

.verseTextFirstTwoPagesWidth {
  @include breakpoints.tablet {
    width: 280px;
  }
}

.verseTextContainer {
  display: block;
  direction: rtl;
}

.largeMushafTextLayoutContainer {
  display: inline;
  @include breakpoints.tablet {
    display: block;
  }
}

.largeMushafTextLayout {
  display: inline;
  @include breakpoints.tablet {
    display: flex;
  }
}

.verseTextCenterAlign {
  justify-content: center;
}

.verseTextSpaceBetween {
  justify-content: space-between;
}

@include utility.generate-font-scales('fallback_qpc_uthmani_hafs');
