@use 'src/styles/theme';
@use 'src/styles/constants';

.misraj-mushaf-root {
  color: var(--primary-font-color);
  font-family: 'ProximaVara', 'Helvetica Neue', Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::selection {
    background: var(--word-highlight-color);
  }

  ::-moz-selection {
    background: var(--word-highlight-color);
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
  }

  a {
    color: inherit;
  }
}
