.iconContainer {
  span {
    line-height: normal;
    font-family: 'surahnames';
    font-size: var(--chapter-header-font-size);
  }

  width: 100%;
  text-align: center;
  color: black;
}

.border {
  border-width: 10px 100px;
  border-style: solid;
  border-color: transparent;

  border-image-source: url('../../../assets/images/borders/green/surah-name-border.svg');
  border-image-slice: 13% 35%;
  border-image-repeat: round;
}

.blueBorder {
  border-image-source: url('../../../assets/images/borders/blue/surah-name-border.svg');
}

.sepiaBorder {
  border-image-source: url('../../../assets/images/borders/sepia/surah-name-border.svg');
}
