.container {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}

.colored {
  color: var(--primary-font-color);
}

.filled {
  fill: var(--primary-font-color);
}

.highlightOnHover {
  &:hover {
    color: var(
      --word-highlight-color
    ) !important; // important is needed to over-ride any theme default color set by the used app, which can ignore lighting on hover
  }
}

.highlighted {
  color: var(
    --word-highlight-color
  ) !important; // important is needed to over-ride any theme default color set by the used app, which can ignore lighting
}

.mushaf-hafs {
  font-family: UthmanicHafs !important; // important is needed to over-ride the language specific font-family
}

.mushaf-shoba {
  font-family: UthmanicShoba !important;
}

.mushaf-warsh {
  font-family: UthmanicWarsh !important;
}

.mushaf-qunbul {
  font-family: UthmanicQunbul !important;
}

.mushaf-qaloon {
  font-family: UthmanicQaloon !important;
}

.mushaf-alsoosi {
  font-family: UthmanicAlsoosi !important;
}

.mushaf-aldouri {
  font-family: UthmanicAldouri !important;
}

.mushaf-albazzi {
  font-family: UthmanicAlbazzi !important;
}
