.container {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}

.colored {
  color: black;
}

.filled {
  fill: black;
}

.highlightOnHover {
  &:hover {
    color: var(--word-highlight-color);
  }
}

.highlighted {
  color: var(--word-highlight-color);
}

.mushaf-hafs {
  font-family: UthmanicHafs !important; // important is needed to over-ride the language specific font-family
}

.mushaf-shoba {
  font-family: UthmanicShoba !important;
}

.mushaf-warsh {
  font-family: UthmanicWarsh !important;
}

.mushaf-qunbul {
  font-family: UthmanicQunbul !important;
}

.mushaf-qaloon {
  font-family: UthmanicQaloon !important;
}

.mushaf-alsoosi {
  font-family: UthmanicAlsoosi !important;
}

.mushaf-aldouri {
  font-family: UthmanicAldouri !important;
}

.mushaf-albazzi {
  font-family: UthmanicAlbazzi !important;
}
